<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        .header {
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            text-align: center;
        }

        .image {
            text-align: center;
            margin-top: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        h1 {
            color: #333333;
            font-size: 30px;
            margin-top: 20px;
        }

        h2 {
            color: #333333;
            font-size: 30px;
            margin-top: 10px;
        }

        p {
            color: #555555;
            font-size: 16px;
            line-height: 1.5;
            margin-top: 10px;
        }

        a {
            display: inline-block;
            background-color: #007bff;
            color: #ffffff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <p>Shopify Customer Care</p>
        </div>
        <div class="image">
            <img src="https://cdn.pixabay.com/photo/2015/10/30/10/40/key-1013662_1280.jpg" alt="img">
        </div>
        <h1>Hello, <%= email %>
        </h1>
        <h2>Welcome to Shopify</h2>
        <p>We received a request to reset your password. Click the button below to reset your password:</p>
        <a href="http://127.0.0.1:5500/Frontend/reset-password.html?token=<%= resetToken %>">Reset Password</a>
        <br>
        <p>This is your reset token:  <strong> <%= resetToken %> </strong> , copy paste to the Token input field</p>
        <br>
        <br>
        <P style="color: red;">This link will expire in  hour</P>
    </div>
</body>

</html>